<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <nav>
        <a href="/animals">Back</a>
    </nav>
    <article>
        <h2> <%= animal.species %> </h2>
        <p>Location: <%= animal.location %> </p>
        <p>Life expectancy: <%= animal.lifeExpectancy %> </p>
                <% if(!animal.extinct) { %>
                    <p>This species is not extinct!</p>
                <%  } else { %>
                    <p>This species is extinct!</p>
                <%  }  %>

         
            <a href="/animals/<%=animal._id %>/edit">
                Edit
            </a>
            <form action="/animals/<%= animal._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>        
            
    </article>


</body>
</html>